# =========================
# Python
# =========================

__pycache__/
*.py[cod]
*.pyo

# =========================
# Virtual Environments
# =========================

.venv/
venv/
env/

# Conda
.conda/

# =========================
# Environment Variables
# =========================

.env
.env.*

# =========================
# Project Data
# =========================

data/uploads/
data/*.csv

# =========================
# Qdrant
# =========================

qdrant_storage/

# =========================
# Streamlit
# =========================

.streamlit/secrets.toml

# =========================
# IDE
# =========================

.vscode/
.idea/

# =========================
# OS
# =========================

.DS_Store
Thumbs.db

# =========================
# Local test files
# =========================

test_local_generation.py
test_vectordb.py