EMBEDDING_MODEL=all-MiniLM-L6-v2
TOP_K=5
DATA_PATH=
MAX_FILE_SIZE=10485760

OLLAMA_BASE_URL=
LOCAL_EMBEDDING_MODEL=all-MiniLM-L6-v2
LOCAL_GENERATION_MODEL=qwen2.5:0.5b
EMBEDDING_MODEL_SIZE=384
TOP_K=5
INPUT_DEFAULT_MAX_CHARACTERS=1024
GENERATION_DEFAULT_MAX_TOKENS=200
GENERATION_DEFAULT_TEMPERATURE=0.1